# Configuración de API del Sanatorio Santa Fe
API_BASE_URL=https://apiestadisticas.gruposantafe.com.ar/
API_IDENTITY_URL=https://identityout.gruposantafe.com.ar/
API_EMAIL=tu_email@ejemplo.com
API_PASSWORD=tu_contraseña

# Configuración de Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_KEY=tu_supabase_service_role_key
SUPABASE_ANON_KEY=tu_supabase_anon_key
